.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.select {
  margin: 2px;
}

.submit {
  cursor: pointer;
  user-select: none;
  margin: 2px;
}
